.place__text {
  grid-area: paragraph;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 73px;
  }
}
@media screen and (max-width: 320px) {
  .place__text {
    padding-bottom: 50px;
  }
}