.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 0;
  padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px 0;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 118px 0 16px;
  }
}